include VERSION
include README.rst
recursive-include spykeball *.py
exclude .gitignore
exclude .travis.yml
exclude circle.yml
exclude appveyor.yml
prune .git
prune build
prune dist
recursive-exclude *.egg-info *