include CODE_OF_CONDUCT.md
include LICENSE
include README.rst
include requirements.txt
include setup.py
include VERSION
recursive-include demo *
recursive-include docs *
recursive-include resources *
recursive-include spykeball *.py
recursive-include tests *.py
recursive-exclude *.egg-info *