* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    border: none;
    padding: 0;
}

*:focus {
    outline: none;
}

:root {
    --vid-width: 1260px;
    --vid-height: 708.75px;
    --margin: 20px;
    --input-height: 70px;
    --block-color: #fff;
    --feild-color: #eee;
}

body {
    height: 100vh;
    background: #f9f9f9;
    overflow-x: hidden;
    overflow-y: scroll;
}

/*----------------------------------------------------------------*/

.landing {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #fff;
}

.landingTitle {
    font-size: 20vw;
    text-align: center;
    margin-top: 200px;
    font-weight: 400;
    color: #1C1C1D;
    background: none;
    text-shadow: 0.5vw 0.5vw #eee;
}

.landingTitle .py {
    position: relative;
    top: 0;
    color: #000;
    padding-bottom: 12px;
    transition: top 600ms cubic-bezier(0.68, 1, 0.265, 1.55);
    -webkit-transition: top 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.loginBox {
    position: fixed;
    height: 100vh;
    text-align: center;
    background: #000;
    transition: top 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -webkit-transition: top 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    z-index: 2;
    color: #fff;
}

.loginBTN {
    font-size: 1.3vw;
    margin-top: 4vh;
    text-align: center;
    color: #000;
    padding: 1.2vh 5vw;
    font-weight: 400;
    border: 2px solid #ffd704;
    color: #ffd704;
    background: #000;
    cursor: pointer;
    transition: opacity 300ms ease;
}

.loginBTN:hover {
    color: #000;
    background: #ffd704;
}

#s {
    transition: opacity 300ms ease;
}

#morf {
    transition: font-weight 600ms;
}

.loginBox form {
    padding: 120px;
    opacity: 0;
    transition: opacity 600ms ease;
}

.loginBox form legend {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 20px;
}

.loginBox form legend span {
    display: block;
    font-size: 35px;
    font-weight: 900;
    color: #ffd704;
}

.loginText {
    position: relative;
    left: calc(50% - 160px);
    display: block;
    width: 300px;
    height: 40px;
    font-size: 15px;
    border-radius: 4px;
    margin-top: 10px;
    padding: 0 10px;
}

.submit {
    display: block;
    position: relative;
    left: calc(50% - 40px);
    width: 80px;
    height: 40px;
    font-size: 15px;
    margin-top: 20px;
    cursor: pointer;
    border: 2px solid #ffd704;
    color: #ffd704;
    background: none;
}

.submit:hover {
    color: #000;
    background: #ffd704;
}

/*----------------------------------------------------------------*/

.fourO {
    background: #fff;
    line-height: 90vh;
    text-align: center;
}

.four {
    font-size: 30vw;
    color: #000;
    text-shadow: 0.75vw 0.75vw #eee;
}

/*----------------------------------------------------------------*/

nav {
    position: relative;
    height: 25px;
    width: 100%;
    background: var(--block-color);
    border-bottom: 1px solid #f1f1f1;
    text-align: center;
    padding: 10px 0;
}

nav a {
    display: inline-block;
    font-weight: 700;
    line-height: 25px;
    color: #ccc;
    width: 100px;
    text-decoration: none;
    font-size: 1.5em;
    cursor: pointer;
}

nav i {
    display: inline-block;
    float: right;
    margin-right: var(--margin);
    color: #2d2d2d;
}

/*----------------------------------------------------------------*/

.left {
    position: absolute;
    left: var(--margin);
    margin-top: var(--margin);
}

.youtubeBox {
    display: block;
    position: relative;
    top: 0;
    left: calc(50% - (var(--vid-width) / 2));
    width: var(--vid-width);
    height: var(--vid-height);
    background: var(--block-color);
    box-shadow: 2px 2px 5px 2px #eee;
}

.youtubeInput {
    position: relative;
    top: calc((var(--vid-height) / 2) - 112.5px);
    left: calc((var(--vid-width) / 2) - 200px);
    width: 400px;
    height: 225px;
    text-align: center;
    padding: 20px 0 0 0;
}

.youtubeInput label {
    color: #000;
    font-size: 24px;
}

.youtubeInput .youlogo {
    display: block;
    font-size: 48px;
    height: 48px;
    overflow: hidden;
    color: #e52d27;
}

.youtubeUrl {
    width: 300px;
    height: 40px;
    font-size: 15px;
    background: var(--feild-color);
    border-radius: 4px;
    margin-top: var(--margin);
    padding: 0 10px;
    transition: border-color 300ms;
}

.youtubeInput::after {
    content: "";
    display: block;
    width: 320px;
    height: 2px;
    margin: 10px 40px;
    background: #2d2d2d;
}

.invalid {
    background: #fa6274;
    color: #fff;
    box-shadow: none;
}

.youtubeInput .xout {
    position: relative;
    width: 34px;
    top: 7px;
    margin-left: -37px;
    color: #fff;
    background: #fa6274;
    cursor: pointer;
}

.youtubeVid {
    width: 100%;
    height: 100%;
}

.text {
    display: block;
    position: relative;
    top: 0;
    left: calc(50% - (var(--vid-width) / 2));
    margin-top: var(--margin);
    width: var(--vid-width);
    height: 70px;
    border-radius: 3px;
    box-shadow: 2px 2px 5px 2px #eee;
}

.textField {
    display: inline-block;
    float: left;
    width: calc(var(--vid-width) - var(--input-height));
    height: var(--input-height);
    font-size: 40px;
    text-align: center;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    background: var(--block-color);
}

.textField::placeholder {
    color: #ccc;
    opacity: 1;
}

.enter {
    display: inline-block;
    float: right;
    height: var(--input-height);
    width: var(--input-height);
    background: #ffd704;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    cursor: pointer;
}

.enter .material-icons {
    color: #fff;
    font-size: 48px;
    margin-top: 5px;
}

/*----------------------------------------------------------------*/

.right {
    position: absolute;
    right: var(--margin);
    width: calc(100% - var(--vid-width) - (3 * var(--margin)) - 20px);
    height: calc(var(--vid-height) + var(--input-height) + var(--margin) - 20px);
    margin-top: var(--margin);
    background: var(--block-color);
    border: 10px solid var(--block-color);
    overflow: hidden;
    box-shadow: 2px 2px 5px 2px #eee;
}

.savedTextArea {
    height: calc(var(--vid-height) - 10px);
}

.savedTextArea h2 {
    color: #ccc;
    text-align: center;
    line-height: calc(var(--vid-height) - 10px);
    font-weight: 100;
}

.savedText {
    width: 100%;
    max-height:  calc(var(--vid-height) - 10px);
    list-style-type: none;
    overflow-x: hidden;
    overflow-y: auto;
}

.savedText li {
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: var(--feild-color);
    margin-bottom: 5px;
    border-radius: 3px;
    overflow: hidden;
}

.savedText li b {
    display: inline-block;
    font-weight: 400;
    max-width: calc(100% - 120px);
    background: var(--feild-color);
    overflow-x: auto;
    overflow-y: hidden;
}

.savedText li i {
    display: inline-block;
    line-height: 50px;
    padding: 0 13px;
    background: var(--feild-color);
    cursor: pointer;
}

.savedText li .timeStamp {
    float: left;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.savedText li .clear {
    float: right;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

/*----------------------------------------------------------------*/

.bottom_BTNS {
    display: flex;
    display: -webkit-flex;
    height: calc(var(--input-height) - 10px);
    margin-top: var(--margin);
}

.bottom_BTNS button {
    flex: 1;
    -webkit-flex: 1;
    color: #fff;
    cursor: pointer;
}

.reset {
    background: #ff5a44;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.download {
    background: #6ecc76;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

/*----------------------------------------------------------------*/

@media (max-width: 1600px) {
    :root {
        --vid-width: 1120px;
        --vid-height: 630px;
    }
}

@media (max-width: 1400px) {
    :root {
        --vid-width: 840px;
        --vid-height: 472.5px;
    }
}

@media (max-width: 1100px) {
    :root {
        --vid-width: 630px;
        --vid-height: 354.375px;
        --margin: 15px;
    }
}

@media (max-width: 900px) {
    :root {
        --vid-width: 504px;
        --vid-height: 283.5px;
        --margin: 10px;
    }
}

@media (max-width: 1000px) and (max-height: 600px) {
    .landingTitle {
        margin-top: 100px;
    }
}
